#!/bin/bash
git clone https://github.com/aaaandrzej/devops-upskill.git
cd devops-upskill || exit

export APP_DB_URL=http://${db_app_host}:8000/getNoOfRecs
export S3_BUCKET_NAME=${s3_bucket_name}

sudo apt-get update
sudo apt-get -y install python3-pip uvicorn
pip3 install fastapi[all] boto3 python-dotenv aiohttp

uvicorn app-s3:app --host 0.0.0.0 --port 8000